@font-face {
    font-family: 'Childos Arabic DEMO';
    src: url('../../public/fonts/ChildosArabicDEMO-Light-BF6526371b44256.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  