@font-face {
    font-family: 'Childos Arabic DEMO';
    src: url('../../public/fonts/ChildosArabicDEMO-Light-BF6526371b44256.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'GE Jarida';
    src: url('../../public/fonts/GE-Jarida-Heavy_23.otf') format('opentype'); /* Replace <path_to_ge_jarida_font_file> with the actual path */
    font-weight: 900; /* Adjust the font weight as needed */
    font-style: normal;
  }