.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.random-topics-wrapper {
  width: 1426px;
  height: 793px;
  top: 56px;
  left: 5px;
  padding: 20px; /* Add padding for better readability */
}

.random-topics-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.random-topics-wrapper a {
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  background-color: #B2CAC6;
  color: #078567;
  font-family: 'Tajawal', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  display: block;
  text-align: center;
}
